__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/
*.egg-info/
.venv
venv/
ENV/
env/
.vscode
*.db
*.log
.mypy_cache/
.dmypy.json
dmypy.json
